@font-face {
  font-family: 'NewsFont';
  /* src: url('/fonts/TTF/Wilson wells.ttf') format('woff2'); */
  src: url('/fonts/poynter/PoynterText Regular.ttf') format('woff2');
}

/* html{
  scroll-behavior: smooth;
} */

* {
  inset: 0;
  box-sizing: border-box;
  font-family: 'NewsFont';
  /* position: absolute */
  /* border: 1px solid green !important; */
 }


/* ::-webkit-scrollbar{
  position: absolute;
}

::-webkit-scrollbar-thumb{
  background-color:rgba(59, 123, 110, 0.9);
}
::-webkit-scrollbar-track{
  background-color: rgba(94, 129, 113, 0.55);
} */


.layout{
  /* padding: 0.5rem; */
  background-color: #111;
  position: relative;
  /* border: 12px solid rgba(255, 255, 255, 0.925); */
  color: rgba(234, 233, 233, 0.882);
  /* width: 100dvw; */
  display: block;
  /* flex-direction: column; */
  /* position: absolute; */
}

.home{
  /* width: 50dvw; */
  height: 100dvh;
  max-height: 100dvh; 
  border: 10px solid red !important;
}

.formToggle{
  width: fit-content;
  color: #fff;
  background-color: #333;
}


.filterForm{
  /* min-width: min-content; */
  background-color: rgba(82, 40, 40, 0.35);
  border: 0.1cqw solid #f7d3d3;
  border-radius:  0.5cqw;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(min(50%,1fr),1fr));
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
  }

.hideForm{
  /* height: 1px; */
  opacity: 0;
  height: 0;
  /* display: none; */
}


@media screen and (max-width:800px) {
  .filterForm{
    display: flex;
    flex-direction: column;
  }
}