@font-face {
  font-family: 'NewsFont';
  /* src: url('/fonts/TTF/Wilson wells.ttf') format('woff2'); */
  src: url('/fonts/poynter/PoynterText Regular.ttf') format('woff2');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'NewsFont';
}

.layout{
  width: 100%;
  display: flex;
  flex-direction: column;
}
