@font-face {
  font-family: 'NewsFont';
  /* src: url('/fonts/TTF/Wilson wells.ttf') format('woff2'); */
  src: url('/fonts/poynter/PoynterText Regular.ttf') format('woff2');
}

html{
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'NewsFont';
  /* position: absolute */
 }


::-webkit-scrollbar{
  position: absolute;
}

::-webkit-scrollbar-thumb{
  background-color:rgba(59, 123, 110, 0.9);
}
::-webkit-scrollbar-track{
  background-color: rgba(94, 129, 113, 0.55);
}


.layout{
  padding: 0.5rem;
  background-color: #333;
  border: 12px solid rgba(234, 233, 233, 0.882);
  color: rgba(234, 233, 233, 0.882);
  width: 100%;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}

.formToggle{
  width: fit-content;
  color: #fff;
  background-color: #333;
}


.filterForm{
  min-width: min-content;
  /* width: calc(100px/8%); */
  background-color: rgba(234, 233, 233, 0.35);
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(min(50%,1fr),1fr));
  /* grid-template-rows: 1fr; */
  margin: 1rem;
  padding: 1rem;
  gap: 1rem;
  /* position: absolute; */
}

.hideForm{
  /* height: 1px; */
  opacity: 0;
  height: 0;
  /* display: none; */
}


.articleGallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: auto;
  gap: 3rem;
  place-content: center;
  margin: 1rem;
}

@media screen and (max-width:800px) {
  .filterForm{
    display: flex;
    flex-direction: column;
  }
}