.navbar {
  margin:1rem;
  background-color: rgba(222, 222, 227, 0.641);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 0.1rem;
  justify-content: start;
  align-items: center;
  gap: 5rem;
  min-height: 1rem;
}


.navbar a{
  
  padding: 0.2rem;
  color: #fffffffb;
}

.navbar a:hover{
  background-color: rgba(36, 20, 20, 0.7);
}


.categoryDropDown {
  z-index: 1000;
  cursor: pointer;
  min-height: 0;
  height: 1.2rem;
}

.categoryDropDown li {
  list-style-type: none;
  text-indent: 0.2rem;
}
.categoryDropDown li a{

  display: block;
}
.categoryList {
  border-radius: 5px;
  /* display: none; */
  transform: translateX(-100rem);
  opacity: 0;
}

.categoryDropDown:has(a):hover .categoryList {
  background-color: rgba(0, 1, 5, 1);
  transition: 0.2s;
  transition-delay: 0.1s;
  transform: translateX(0);
  opacity: 1;
}

.categoryItem:hover{
  color: white;
}


@media screen and (max-width:800px) {
  .navbar{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }
}