.navbar {
  margin: 1rem;
  border-bottom: 3px dashed #fff;
  /* background-color: rgba(222, 222, 227, 0.641); */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  /* flex-direction: row;
  flex-wrap: nowrap; */
  /* border-radius: 0.1rem; */
  justify-content: flex-end;
  align-items: center;
  /* gap: 15rem; */
  min-height: 1rem;
}


.navbar a {
  width: fit-content;
  padding: 0.2rem;
  color: #fffffffb;
}

.navbar a:hover {
  background-color: rgba(36, 20, 20, 0.7);
}

.navbar .homelink {
  background-color: #fff;
}


.categoryDropDown {
  width: fit-content;
  z-index: 1000;
  cursor: pointer;
  min-height: 0;
  height: 1.2rem;
}

.categoryDropDown li {
  list-style-type: none;
  text-indent: 0.2rem;
}

.categoryDropDown li a {

  display: block;
}

.categoryList {
  border-radius: 5px;
  /* display: none; */
  transform: translateX(-100rem);
  opacity: 0;
}

.categoryDropDown:has(a):hover .categoryList {
  background-color: rgba(0, 1, 5, 1);
  transition: 0.2s;
  transition-delay: 0.1s;
  transform: translateX(0);
  opacity: 1;
}

.categoryItem:hover {
  color: white;
}

.hamburger-svg {
  display: none;
}

@media screen and (max-width:800px) {
  .navbar {
    justify-content: center;
    align-items: start;
    background-color: red;
    inset: 0;
    position: relative;
    gap: 5rem;
    width: 0;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
  }


  .hamburger-svg {
    height: fit-content;
    display: inline;
    background-color: #fff;
  }

  

  /* .hamburger-svg:hover~.navbar a {
    margin-left: 5rem;
    display: block;
  } */

} 