
.search_input{
    display: flex;
     justify-content: center;
    align-items: center;
    
}

.search_input input{
    background-color: lightgrey;
    border-radius: 5px;
    color: black;
    width: 20rem;
    height: 3rem;
    padding: 0.5rem;
    text-align: left;
}

.search_input input:focus{

    background-color: grey;
    color: white;
}
.search_input input:focus::placeholder{
    position: absolute;
    color: black;
    transform: translateY(-30%);
    padding-bottom: 0.5rem;
    font-size: small;
    transition: 1s;
}
.search_input input:focus::-moz-placeholder{
    position: absolute;
    color: black;
    transform: translateY(-30%);
    padding-bottom: 0.5rem;
    font-size: small;
    transition: 1s;
}
.search_input input:focus::-webkit-input-placeholder{
    position: absolute;
    color: black;
    transform: translateY(-30%);
    padding-bottom: 0.5rem;
    font-size: small;
    transition: 1s;
}
